
.grid1-ghg {
    display :flex;
    white-space: break-spaces;
    align-items:center;
    background : #DBDBDB !important;
    border-width:1px;
    font-size: 14px;
    font-weight: 600;
    color:#000000;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
